@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-color: #1b6392;
  --bMC: #427ea6;
  --sec-color: #fa8232;

  --hover-main-color: #411b29;

  --frist-color: #3995ff;
  --secound-color: #5db2ff;
  --thrid-color: #449eff;
  --color-black: #222222;
  --color-white: #ffffff;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
  color: black;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--bMC);
}
::-webkit-scrollbar-track {
  background-color: lightgray;
}
a {
  text-decoration: none;
  color: black;
}
*:focus {
  outline: none;
}
.trans {
  transition: all;
  transition-duration: 0.3s;
}

@layer base {

  .trans {
    @apply transition-all duration-300;
  }
  .inputD {
    @apply w-full h-[40px] px-3 text-sm rounded-md border focus:border-secondary transition-all duration-300;
  }
  .errorD {
    @apply border-red-600 focus:border-red-600;
  }
  .msgError {
    @apply text-red-500 bg-red-200 px-2 rounded text-sm;
  }
}

.myAK {
  margin: 60px 0;
}
/* My Container */
.containerAK {
  margin: 0 auto;
}
@media (max-width: 576px) {
  .containerAK {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .containerAK {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .containerAK {
    width: 86%;
  }
}
@media (min-width: 992px) {
  .containerAK {
    width: 86%;
  }
}
@media (min-width: 1200px) {
  .containerAK {
    width: 86%;
  }
}
@media (min-width: 1400px) {
  .containerAK {
    width: 86%;
  }
}

.swiper-pagination-bullet {
  /* margin-top: 0px !important; */
}

.swiper-pagination-bullet-active {
  background: var(--bMC) !important;
}
.swiper-button-next,
.swiper-button-prev {
  top: 43% !important;
  width: 30px !important;
  height: 30px !important;
  color: var(--sec-color) !important;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px !important;
}
